:root {
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --white: #ffffff;
  --black: #000000;
  --background: #2f303a;
  --title: #212121;
  --button: #f5f4fa;
  --footer-meltel: rgba(255, 255, 255, 0.6);
  --button-inactive: #188ce8;
  --icons: #afb1b8;
  --icons-foot: rgba(255, 255, 255, 0.1);
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
} */

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

p,
h1,
h2,
h3,
ul {
  padding: 0;
  margin: 0;
}
/* колір основного тексту #212121 */
/* другорядний колір тексту #757575*/
/* акцент #2196F3 */
/* #FFFFFF білий */
/* #2F303A другорядний */
/*  */

body {
  margin: 0 auto;
  width: 1600px;
  color: var(--primary-text-color);
  background-color: var(--white);
  font-family: Roboto, sans-serif;
  /* overflow-x: hidden; */
}
/* header */
.header {
  border-bottom: 1px solid #ececec;
}

.header__nav,
.header__main {
  display: flex;
  align-items: center;
}
.header__logo {
  color: var(--black);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.header__web,
.footer__web {
  color: var(--accent-color);
}


.header__site-nav {
  display: flex;
  margin-left: 93px;
}

/* .site-nav li{
    outline: 2px solid tomato;
} */

.header__items:not(:last-child) {
  margin-right: 50px;
}
.header__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.header__link:hover,
.header__link:focus {
  color: var(--accent-color);
}

.header__link--current {
  color: var(--accent-color);
}
.header__contacts {
  display: flex;
  margin-left: auto;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__meltel {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.header__meltel:hover,
.header__meltel:focus {
  color: var(--accent-color);
}

.header__link::after {
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
  transition: opacity var(--transition-duration) var(--transition-timing-function);
}

/* .link:hover::after,
.link:focus::after{
    opacity: 1;
} */

.header__link--current.header__link::after {
  opacity: 1;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.header__icons {
  margin-right: 10px;
  fill: currentColor;
}

/* main */
.hero {
  background-color: var(--background);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-bottom: 30px;
  margin-top: 0;
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-main {
  display: inline-block;
  border-radius: 4px;
  border: var(--accent-color);
  padding: 10px 32px;
  min-width: 216px;
  color: var(--white);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.06em;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.button-main:hover,
.button-main:focus {
  background-color: var(--button-inactive);
}
.buttons {
  padding: 6px 22px;
  display: inline-block;
  border-radius: 4px;
  border: var(--button);
  color: var(--title);
  background-color: var(--button);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  transition-property: border, color, background-color, box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.but-sec:not(:last-child) {
  margin-right: 8px;
}
.buttons:hover,
.buttons:focus {
  border: var(--accent-color);
  color: var(--white);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.butlist {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.wwd {
  padding-top: 0;
}
.team {
  background-color: var(--button);
}

.flex {
  display: flex;
}

.flex li:not(:last-child) {
  margin-right: 30px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section-title {
  margin-bottom: 50px;
  color: var(--title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.features {
  background-color: var(--button);
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-icons {
}

.pict-descr {
  position: relative;
}

.description-work {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* outline: 2px solid tomato; */
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  /* opacity: 0;
    transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1); */
}

/* .pict-descr:hover .description-work{
    opacity: 1;
    transition: 250ms opacity cubic-bezier(0.4, 0, 0.2, 1);
} */

.section-ti {
  margin-bottom: 10px;
  color: var(--title);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.section-ti-sec {
  margin-bottom: 10px;
  color: var(--title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-ti-sec-descr {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
.section-tp {
  margin-bottom: 4px;
  color: var(--title);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.section-tp-descr {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
.team-people {
  display: flex;
}
.team-people .people:not(:last-child) {
  margin-right: 30px;
}

.soclink {
  display: flex;
  margin: 0;
  /* outline: 1px solid teal; */
  gap: 10px;
  justify-content: center;
}

.link-icon {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  /* outline: 2px solid black; */
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}
.link-icon:hover {
  background-color: var(--accent-color);
}

.link-icon:focus {
  background-color: var(--accent-color);
}

.link-icon:focus .social-networks {
  fill: var(--white);
}

.link-icon:hover .social-networks {
  fill: var(--white);
}

.social-networks {
  fill: var(--icons);
  transition: fill var(--transition-duration) var(--transition-timing-function);
  /* outline: 1px solid tomato; */
}

.link,
.link-portfolio {
  text-decoration: none;
}

.img-desc {
  display: block;
}

.description-p {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.img-desc-w {
  display: block;
}

.description-w {
  padding: 20px 24px;
  background: var(--white);
  border: 1px solid #eeeeee;
}

.product {
  display: flex;
  flex-wrap: wrap;
}

.product-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.link-portfolio {
  display: block;
  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}
.link-portfolio:hover,
.link-portfolio:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-element:nth-child(3n) {
  margin-right: 0;
}

.product-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.img-port {
  position: relative;
  overflow: hidden;
}

.link-portfolio:hover .img-port-overlay {
  transform: translateY(0);
}

.link-portfolio:focus .img-port-overlay {
  transform: translateY(0);
}

.img-port-overlay {
  position: absolute;
  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--white);
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}

.bg-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.companies {
  display: flex;
  /* outline: 1px solid tomato; */
  justify-content: space-between;
}

.companies-link {
  display: flex;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  color: var(--icons);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color var(--transition-duration) var(--transition-timing-function),
    border-color var(--transition-duration) var(--transition-timing-function);
  /* outline: 2px solid black; */
}

.companies-link:hover,
.companies-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.companies-list {
  fill: currentColor;
  /* outline: 1px solid teal; */
}

/* footer */
.footer {
  background: var(--background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--white);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer__address {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer__map-link {
  color: var(--white);
  text-decoration: none;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.footer__map-link:hover,
.footer__map-link:focus {
  color: var(--accent-color);
}

.footer__meltel {
  color: var(--footer-meltel);
  text-decoration: none;
  transition: color var(--transition-duration) var(--transition-timing-function);
}

.footer__meltel:hover,
.footer__meltel:focus {
  color: var(--accent-color);
}

.footer__map:not(:last-child) {
  margin-bottom: 9px;
}
.footer__flex {
  display: flex;
  align-items: baseline;
}

.footer__sociallinks {
  display: flex;
}

.footer__join {
  margin-left: 70px;
}

.footer__join-header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}

.footer__sociallinks {
  display: flex;
  margin: 0;
  /* outline: 1px solid teal; */
  gap: 10px;
  justify-content: center;
}

.footer__socialicon {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* outline: 2px solid white; */
  background-color: var(--icons-foot);
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.footer__socialicon:hover,
.footer__socialicon:focus {
  background-color: var(--accent-color);
}

/* .footer__socialicon:focus {
  background-color: var(--accent-color);
} */

.footer__socialicon:focus .footer__socialnetworks {
  fill: var(--white);
}

.footer__socialicon:hover .footer__socialnetworks {
  fill: var(--white);
}

.footer__socialnetworks {
  fill: var(--white);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* outline: 1px solid tomato; */
}
.footer__mailing-list {
  margin-left: auto;
}

.footer__form {
  display: flex;
}

.footer__form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}

.footer__input {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15.2px 16px;
  background: var(--background);
}

.footer__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input:focus {
  color: var(--white);
}

.footer__submit-but {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-self: flex-end;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 28px;
  margin-left: 12px;
  height: 50.58px;
  cursor: pointer;
  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.footer__submit-but:hover,
.footer__submit-but:focus {
  background-color: #188ce8;
}

.footer__submit-icon {
  fill: var(--white);
  margin-left: 10px;
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--transition-duration) var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.cross-but {
  /* fill: #000000;
    outline: 2px solid tomato; */
}

.button-modal {
  position: absolute;
  color: #000000;
  top: 8px;
  right: 8px;
  /* display: flex;
    justify-content: center;
    align-items: center; */
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  /* outline: 2px solid teal; */
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.button-modal:hover {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title);
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.par-form-field {
  width: 100%;
}

.form-field {
  display: flex;
  flex-direction: column;
  /* outline: 2px solid tomato; */
  width: 100%;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-field:last-child {
  margin-bottom: 20px;
}

.form-field input {
  margin: 0;
  padding: 11px 12px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.input-modal {
  position: relative;
}

.form-field textarea {
  margin: 0;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
}

.form-field label {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.form-field textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.submit-modal-icons {
  /* display: inline-block; */
  position: absolute;
  fill: #000000;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.input-modal:focus-within > .submit-modal-icons,
.input-modal:hover>.submit-modal-icons {
  fill: var(--accent-color);
}

.form-input:focus,
textarea:focus,
.form-input:hover,
textarea:hover {
  border: 1px solid var(--accent-color);
}

input,
textarea {
  outline: none;
}

.checkbox-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}

.checkbox {
  margin: 0 auto 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-icon {
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 9px;
  fill: none;

  transition: border-color var(--transition-duration) var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration) var(--transition-timing-function);
}

.checkbox-input:checked + .checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  fill: var(--white);
}

.checkbox-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.form-link {
  text-decoration-line: underline;
  color: var(--accent-color);
}

textarea {
  resize: none;
}

.submit-but {
  padding: 10px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: var(--accent-color);
  transition: background-color var(--transition-duration) var(--transition-timing-function);
  cursor: pointer;
}

.submit-but:hover,
.submit-but:focus {
  background-color: #188ce8;
}
